body {
    background-image: url("./images/background-light.jpg");
    background-position: top center;
}

#foreground {
    margin: auto;
    width: calc(100vw / 3);
    height: 100vh;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#logo {
    width: calc(100% / 3);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}