* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
}

body > img {
    height: 100vh;
}

body > div {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 16px;

    background-color: #F9FAFB;
}

form > div {
    background-color: white;
}

input {
    border-color: #E5E7EB;
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
}

button[type="submit"] {
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 12px;
}